<ion-view title="{{job.title}}">
  <ion-content has-header="true" padding="true">
    <div class="list card">


      <div class="item item-avatar">
        <img ng-src="{{job.logo}}">
        <h2>{{job.title}}</h2>
        <p ng-if='job.location'><strong>Location:</strong> {{job.location}}</p>
        <p ng-if='job.job_role'><strong>Job role:</strong> {{job.job_role.join(', ')}}</p>
        <p ng-if='job.salary'><strong>Salary:</strong> {{job.salary}}</p>
        <p ng-if='job.deadline'><strong>Deadline:</strong> {{job.deadline}}</p>
      </div>

      <div class="item item-body">
        <p>{{job.description}}</p>

        <a href="{{job.url}}" class="button button-full button-positive" ng-if="job.url">
          Find out more
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
