<ion-view title="{{job.company}}">
  <ion-content has-header="true" padding="true">

    <div class="list">
      <div class="item item-divider">
        {{job.title}}
      </div>

      <div class="item item-thumbnail-left">
        <img ng-src="{{job.logo}}">

        <p ng-if='job.location'><strong>Location:</strong> {{job.location}}</p>
        <p ng-if='job.salary'><strong>Salary:</strong> {{job.salary}}</p>
        <p ng-if='job.deadline'><strong>Deadline:</strong> {{job.deadline}}</p>
        <p ng-if='job.industries'>
          <strong>Job role:</strong>
          <span ng-bind-html="job.industries.join(', ')"></span>
        </p>
      </div>

      <div class="item item-body">
        <div ng-bind-html="job.description"></div>

        <a href="{{job.url}}" class="button button-full button-positive" ng-if="job.url">
          Find out more
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
