<ion-view title="Jobs">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-clear icon ion-ios7-refresh-empty" ng-click="reload()"></button>
  </ion-nav-buttons>

  <ion-content class="has-header">
    <ion-list>
      <ion-item ng-repeat="job in jobs" href="#/app/job/{{job.id}}" class="item-thumbnail-left">
        <img ng-src="data:image/png;base64,{{job.company._attachments.logo.data}}">
        <h2>{{job.title}}</h2>
        <p ng-if='job.location'>{{job.location}}</p>
        <p ng-if='job.job_role'>{{job.job_role.join(', ')}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
